.bw-shape-calculator {    
    font-size: 1.1em;
    color: #000;
    background-color: transparent;
}
.bw-shape-calculator.card {
    border: none;
}
.bw-shape-calculator.card .card-title {
    margin-bottom: 0;
}
.bw-shape-calculator .card-body {
    padding: 3rem 2.6rem;
}
.bw-shape-calculator .form-check {
    padding: 8px;
    padding-left: 20px;
}
.bw-shape-calculator .middle {    
    padding: 20px 0;
    min-height: 300px;
}
.bw-shape-calculator input.form-control {
    width: 200px;
}
.bw-shape-calculator input[type=button] {
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 20px;
    color: #000 !important;
}
.bw-shape-calculator .btn-success {
    background-color: #7aceb4;
    border: none;
}
.bw-shape-calculator input[type=button]:last-child {
    margin-right: 0;
}
.bw-shape-calculator .alert {
    font-size: 0.7em;
    padding: 5px 8px;
}
.bw-shape-calculator .form-step-2 {
    margin-top: auto;
    margin-bottom: auto;
}
.bw-pop-message {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-bottom: 0;
}